<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/">Simple form</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
    </div>
</nav>