{{> header}}
<div class="container">
    <div class="row align-items-baseline">
        <div class="col-6">
            <h2>Students list</h1>
            <ul class="list-group">
                {{#each students}}
                    <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
        </div>

        <div class="col-6">
            <h2>Add students</h2>
            <form method="post" action="/students/add">
                <div class="form-group">
                    <label for="username">Student name</label>
                    <input name="username" id="username" />                    
                </div>
                <button type="submit" class="btn btn-outline-primary">Send</button>
            </form>
        </div>
    </div>
</div>