{{> header}}
<div class="container">
    <h1>Added student</h1>
    <p>
        <span>Student <strong>{{username}}</strong> has been recorded</span>
        <span><a href="/">Go back</a></span>
    </p>
</div>